<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


</head>
<body>
    <div class="container">
        <h1>House Price Prediction</h1>
        <form action="/predict" method="POST">
            <label for="location">Location</label>
            <select name="location" id="location">
                {% for location in locations %}
                    <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select>

            <label for="total_sqft">Total Square Feet</label>
            <input type="text" id="total_sqft" name="total_sqft" required>

            <label for="bath">Number of Bathrooms</label>
            <input type="number" id="bath" name="bath" required>

            <label for="bhk">Number of Bedrooms</label>
            <input type="number" id="bhk" name="bhk" required>

            <button type="submit" class="submit-btn">Predict</button>
        </form>

        {% if prediction %}
            <h2>Predicted Price: ₹ {{ prediction }} Lakhs</h2>
        {% endif %}
    </div>
</body>
</html>
